a {
    padding: 60px 60px; /* Tamaño más grande */
    margin: 25px;
    background-color: #0fbdcb;
    border: none;
    color: #906915;
    font-size: 30px; /* Texto más grande */
    cursor: pointer;
    border-radius: 10px; /* Bordes más redondeados */
    text-align: center; /* Centrar texto */
    display: inline-block; /* Para alinearlos horizontalmente */
}

/* Fondo y estructura de la página */
body {
    background-color: #f4f4f9;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    display: flex;
    justify-content: space-between; /* Espaciado entre título y botones */
    align-items: center; /* Centrar horizontalmente */
    height: 100vh; /* Asegura que ocupe toda la ventana */
}

/* Título */
h1 {
    color: #b88d42;
    text-align: center;
    margin: 20px 0; /* Espaciado superior e inferior */
    position:fixed;
    right: 30%;
    font-size:50px;
    top: 0; /* Asegura que esté fijo arriba */
}