body{
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
}
table,tr,td{
    border-collapse: collapse;
    font-size: 20px;
    margin: 10px 0;
    align-content: center;
}
#mensaje{
    position: fixed;
    top: 150px;
    right: 270px;
    color: red;
    font-size: 35px;
}
img{
    position: fixed;
    width: 600px;
    height: 450px;
    top: 250px;
    right: 200px;
}
button, input[type="button"] {
    padding: 10px 20px;
    margin: 5px;
    background-color: #5c67f2;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#regreso{
    padding: 10px 20px;
    margin: 5px;
    background-color: #5c67f2;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: fixed;
    right: 50px;
}
h1 {
    color: #5c67f2;
    text-align: center;
}
p, select, input {
    font-size: 20px;
    margin: 10px 0;
    background-color: #f4f4f9;
}
#Etiqueta{
    display: inline-block;
}
